footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 17px;
    text-align: center;
    padding: 60px 0 15px;
}

footer * {
    font-family: var(--footer-font);
}

footer a {
    color: var(--footer-text-color);
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.footer-top__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top__container > div {
    padding-bottom: 50px;
    /* border: 1px solid red; */
}

.footer__title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--footer-title-color);
}

.footer__nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__nav__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav__links a:hover {
    color: var(--footer-title-color);
}

.footer__nav__links a {
    position: relative;
}

.footer__nav__links a::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--footer-title-color);
    transition: width .2s;
}

.footer__nav__links a:hover::after {
    width: 100%;
    transition: width .2s;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.footer__info__logo {
    width: 70%;
    margin-bottom: 20px;
}

.footer__info__logo svg {
    width: 100%;
    height: 100%;
}

.footer__info__logo svg * {
    fill: var(--footer-title-color);
}

.footer__social__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}

.footer__social__icon {
    width: 30px;
    height: 30px;
}

.footer__social__icon svg {
    width: 100%;
    height: 100%;
}

.footer__social__links div:not(:hover) svg path {
    fill: var(--footer-text-color);
}

.footer__line {
    width: 90%;
    height: 2px;
    background-color: var(--footer-line-color);
    border: none;
}

.footer-bottom__container {
    width: 90%;
    margin-top: 15px;
    color: var(--footer-bottom-text-color);
}

.footer-bottom__container a {
    color: var(--footer-bottom-text-color);
    text-decoration: underline;
}

@media(max-width: 767px) {
    .footer__nav-container::after,
    .footer__info-container::after {
        content: '';
        display: block;
        width: 150px;
        height: 2px;
        background-color: white;
        margin-top: 50px;
        background-color: var(--footer-line-color);
    }
}

@media(min-width: 480px) {
    .footer__info__logo {
        width: 50%;
    }

    .footer__nav-container::after,
    .footer__info-container::after {
        width: 250px;
    }

    .footer-bottom__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

}

@media(min-width: 768px) {
    .footer-top__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .footer-top__container > div {
        width: 33%;
    }

    .footer__info__logo {
        width: 200px;
    }     
}