.header-main {
    background-color: var(--default-color);
    color: var(--light-color);
    width: 100%;
}

.header-main__image {
    width: 100%;
}

.header-main__image img {
    width: 100%;
    height: 100%;
    display: block;
}

.header-main__info {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.header-main__info__title {
    font-size: 45px;
    font-weight: bold;
    font-family: var(--title-font);
}

.header-main__info__description {
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.5em;
}

.header-main__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
}

.header-main__btn {
    /* width: 130px;
    height: 50px; */
    display: block;
    padding: 10px 20px;
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    color: var(--light-color);
    transition: 0.2s;
}

.header-main__btn:hover {
    background-color: var(--light-color);
    color: var(--default-color);
}

@media(min-width: 668px) {
    .header-main {
        position: relative;
    }

    .header-main::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .header-main__info {
        color: var(--header-text-color);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
    }
}

@media(min-width: 768px) {
    .header-main__info {
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width: 991px) {

    
    .header-main {
        display: flex;
        /* align-items: center; */
    }

    .header-main__info {
        width: 50%;
        position: initial;
        transform: translate(0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .header-main__image {
        width: 50%;
    }

    .header-main__image img {
        object-fit: cover;
        display: block;
    }
}