.info-container {
    position: absolute;
    border: 1px solid greenyellow;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    
}

.info-container:before {
    content: '';
    width: 95%;
    height: 47.5%;
    transform: translateX(-50%);
    transform: translate(-50%, 0);
    position: fixed;
    background: linear-gradient(#f9f4f0 0%, transparent 10%, transparent 87%, #f9f4f0 100%);  */
    /* background-image: linear-gradient(transparent 150px, white); */
    background-attachment: fixed;
    border: 2px solid green;
}

/* 
.info__container {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
} */

.product-info-modal__info div {
    /* overflow: hidden;
    overflow-y: auto;
    height: 100%; */
    /* height: 100%;
    padding: 15px;
    text-align: center;

    color: var(--default-color);

    border: 1px solid blue;
    
    
    background: linear-gradient(rgba(4,121,195,1) 0%, transparent 20%, transparent 40%, rgba(3,79,139,1) 50%);
    box-shadow: inset 0 -10px 9px -7px var(--light-bg-color);
    background-clip: text;
    -webkit-background-clip: text; 

    /* position: sticky; */
    /* border: 1px solid red; */
    /* top: 0;
    left: 0; */
    /* width: 100%; 
    height: 100%;
    background-image: linear-gradient(
        transparent 5%,
        currentColor 10%,
        currentColor 95%,
        transparent 100%
    ); */


    /* background: linear-gradient(rgba(4,121,195,1) 0%, transparent 5%, transparent 96%, rgba(3,79,139,1) 100%); */
    /* background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed; */
    /* background-size: 100% 100%; */
    /* z-index: 10; */
}